data/door.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Doors">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Door">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="RoomsIConnect" type="xs:unsignedByte" />
              <xs:element name="Locked" type="xs:boolean" />
              <xs:element name="HasKey" type="xs:boolean" />
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="Direction" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>