data/entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Entities">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Entity">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="Description" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Commands" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>