data/room.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Rooms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Room">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Doors" />
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>