data/thing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Things">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Thing">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element maxOccurs="unbounded" name="Commands" type="xs:string" />
              <xs:element name="IsWearable" type="xs:boolean" />
              <xs:element minOccurs="0" name="Slot" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="StatIncrease" type="xs:string" />
              <xs:element name="IsWeapon" type="xs:boolean" />
              <xs:element minOccurs="0" name="Damage" type="xs:unsignedByte" />
              <xs:element name="Weight" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>